@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.promo-title {
    margin-bottom: 15px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

body {
    font-family: sans-serif;
    font-size: 16px;
}

nav {
    background: #000;
    padding: 0 15px;
}

a {
    color: white;
    text-decoration: none;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 12px;
    height: 400px;
    text-align: center;
}

.menu,
.submenu {
    list-style-type: none;
}

.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}

.item {
    padding: 10px;
}

.item.button {
    padding: 9px 5px;
}

.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}

/* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {
    display: block;
    padding: 15px 5px;
}

.menu li.subitem a {
    padding: 15px;
}

.toggle {
    order: 1;
    font-size: 20px;
}

.item.button {
    order: 2;
}

.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}

.active .item {
    display: block;
}

.button.secondary {
    /* divider between buttons and menu links */
    border-bottom: 1px #444 solid;
}

/* Submenu up from mobile screens */
.submenu {
    display: none;
}

.submenu-active .submenu {
    display: block;
}

.has-submenu i {
    font-size: 12px;
}

.has-submenu>a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    content: "\f078";
    color: white;
    padding-left: 5px;
}

.subitem a {
    padding: 10px 15px;
}

.submenu-active {
    background-color: #111;
    border-radius: 3px;
}

.img-banner {
    display: none;
    height: 250px;
    width: 100%;
    margin-top: 20px;
}

.img-banner-aboutus {
    object-fit: cover;
    height: 200px;
    width: 100%;
    margin-top: 20px;
}

.center {
    text-align: center;
}

.primary-btn {
    background-color: #0081FF;
    color: #FFFFFF;
    width: auto;
    padding: 10px;
    border: none;
    pointer-events: visible;
}

.btn-radius-8 {
    border-radius: 8px;
}

.border-8 {
    border-radius: 8px;
}

.text-banner {
    margin-top: 50px;
    color: #FFFFFF;
    text-align: center;
}

.text-location,
.text-menu {
    margin-top: 40px;
}

.text-location,
.text-menu,
.text-follow {
    margin-top: 35px;
    font-size: 40px;
    color: #FFFFFF;
}


.alamat {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.alamat h2 {
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 20px;
}

.text-white {
    color: #FFFFFF
}

.bg-black {
    background-color: #000;
}

.about-danbam {
    margin-top: 20px;
    color: #FFFFFF;
}

.aboutus-danbam {
    margin-top: 20px;
    color: #FFFFFF;
}

.aboutus-danbam h1 {
    margin-top: 70px;
    font-size: 40px;

}

.aboutus-danbam p {
    margin-top: 30px;

}


.about-danbam p {
    margin-top: 30px;
}

.about-danbam h1 {
    padding: 10px;
    margin-top: 40px;
    font-size: 40px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit] {
    background-color: #0081FF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    width: 100%;
}

input[type=submit]:hover {
    background-color: #0081FF;
}

.text-copyright {
    color: #FFFFFF;
    font-size: 12px;
    padding: 25px;
}

.slider {
    position: relative;
    height: 337px;
    width: 600px;
    margin-left: 15px;
}

.slider img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    opacity: 0;
    transition: 1s;
    width: 250px;
    height: 250px;
}

img.active {
    opacity: 1;
}

span {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    color: #fff;
}

span.next {
    right: 350px;
}

.img-food {
    border-radius: 12px;
    width: 100%;
}

.socialmedia {
    margin-top: 30px;
    height: 300px;
}

.icon-socmed {
    color: #FFFFFF;
    font-size: 40px;
    margin: 0 auto;
}

.img-logo {
    width: 100px;
    height: 75px;
}


/* Tablet menu */
@media all and (min-width: 700px) {
    .text-banner {
        margin-top: 50px;
        color: #FFFFFF;
        text-align: center;
    }

    .img-food {
        border-radius: 12px;
        width: 100%;
        height: 300px;
    }

    .promo-title {
        margin-bottom: 15px;
    }

    .slider {
        position: relative;
        height: 337px;
        width: 600px;
        margin-left: 50px;
    }

    .slider img {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        opacity: 0;
        transition: 1s;
        width: 500px;
        height: 400px;
    }

    img.active {
        opacity: 1;
    }

    span {
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.8);
        padding: 10px;
        color: #fff;
    }

    span.next {
        right:100px;
    }



    input[type=text],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
    }

    input[type=submit] {
        background-color: #0081FF;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        width: 100%;
    }

    input[type=submit]:hover {
        background-color: #0081FF;
    }

    .bg-black {
        background-color: #000;
    }

    .menu {
        justify-content: center;
    }

    .logo {
        flex: 1;
    }

    .item.button {
        width: auto;
        order: 1;
        display: block;
    }

    .toggle {
        flex: 1;
        text-align: right;
        order: 2;
    }

    /* Button up from tablet screen */
    .menu li.button a {
        padding: 10px 15px;
        margin: 5px 0;
    }

    .button a {
        background: #0080ff;
        border: 1px royalblue solid;
    }

    .button.secondary {
        border: 0;
    }

    .button.secondary a {
        background: transparent;
        border: 1px #0080ff solid;
    }

    .button a:hover {
        text-decoration: none;
    }

    .button:not(.secondary) a:hover {
        background: royalblue;
        border-color: darkblue;
    }

    .maps {
        width: 200px;
        height: 200px;
        border: 0;
    }

    .aboutus-container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        width: 50%;
    }

    .img-logo {
        width: 100px;
        height: 75px;
    }

}

/* Desktop menu */
@media all and (min-width: 969px) {

    .img-logo {
        width: 100px;
        height: 75px;
    }

    .img-food {
        border-radius: 12px;
        width: 100%;
        height: 300px;
        background-size: cover;
    }

    .img-socmed {
        width: 50%;
    }

    .bg-black {
        background-color: #000;
        background-color: #000;
        transition: 0.3s;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 100%;
        border-radius: 12px;
        height: 400px;
    }

    .card-socmed {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 100%;
        border-radius: 12px;
        height: 100px;
    }


    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .container {
        padding: 2px 16px;
    }

    .information {
        height: 300px;
    }

    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        width: 80%;
    }

    .aboutus-container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        width: 50%;
    }

    .banner {
        margin-top: 20px;
    }

    .menu {
        align-items: flex-start;
        flex-wrap: nowrap;
        background: none;
    }

    .logo {
        order: 0;
    }

    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }

    .button {
        order: 2;
    }

    .submenu-active .submenu {
        display: block;
        position: absolute;
        left: 0;
        top: 68px;
        background: #111;
    }

    .toggle {
        display: none;
    }

    .submenu-active {
        border-radius: 0;
    }

    .row {
        display: flex;
        margin-top: 30px;
        margin-bottom: 60px;
    }

    .col-6 {
        flex: 50%;
        padding: 10px;
    }

    .col-3 {
        flex: 25%;
        padding: 10px;
    }

    .col-12 {
        flex: 100%;
        padding: 10px;
    }

    .border-8 {
        border-radius: 8px;
    }

    .img-banner {
        display: block;
        height: 400px;
        width: 100%;
    }


    .img-banner-aboutus {
        display: block;
        height: 400px;
        width: 100%;
    }

    .primary-btn {
        background-color: #0081FF;
        color: #FFFFFF;
        width: auto;
        padding: 10px;
        border: none;
    }

    .btn-radius-8 {
        border-radius: 8px;
    }

    .text-banner {
        margin-top: 130px;
    }

    input[type=text],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
    }

    input[type=submit] {
        background-color: #0081FF;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        width: 100%;
    }

    input[type=submit]:hover {
        background-color: #0081FF;
    }

    .card-form {
        width: 500px;
        color: white;
    }

    .maps {
        width: 500px;
        height: 400px;
        border: 0;
    }

    .slider {
        position: relative;
        text-align: center;
        height: 337px;
        width: 600px;
        margin-left: 50px;
    }

    .slider img {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        opacity: 0;
        transition: 1s;
        width: 450px;
        height: 450px;
    }

    img.active {
        opacity: 1;
    }

    span {
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.8);
        padding: 10px;
        color: #fff;
    }

    span.next {
        right: -150px;
    }

    .promo-title {
        margin-bottom: 15px;
    }

}